@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Celestial University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Celestial University</h2>
        <p>
            Celestial University is a place where everyone can come and learn to "think celestial"!
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/images/pexels-nickkwanhk-2745254.jpg" width="100%" height="auto" alt="Picture of a church building in front of a night sky full of stars." />
    </div>
    <div class="col-md-4">
        <h2>Come Closer to the Lord</h2>
        <p>Learn the skills to more sincerely pray, more deeply study the scriptures, and more activity participate in the Lord's church.</p>
        <p>Push your spirit to heights of righteousness you've never experienced before.</p>
    </div>
    <div class="col-md-4">
        <h2>Bring Your Family With You</h2>
        <p>No one wants to go to heaven alone; bring your Mom, Dad, Great Aunt Deloris - Everyone is welcome.</p>
        <p>Extra credit can be earned for bringing one of the lost sheep back into the fold!</p>
    </div>
</div>
